.container {
    width: 1200px;
    height: 500px;
    overflow-y: scroll;
    overflow-x: auto;
}
.calendar {

    display: flex;
    flex-direction: row-reverse;
    margin: 0 15px;
    padding: 5px 30px;

    float: left;

}
.calendar-nav {
    margin: 0 15px;
    padding: 0 30px;
}

.button {
    border: none #E5E7EB;
    box-sizing: border-box;
    margin: 0 2px;
    border-radius: 200px;
    width: 30px;
    height: 30px;
    padding: 5px;
}
