
.calendar-event-available {
    width: 150px;
    background: #EBF5FF;
    border-radius: 2px;
    border: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 5px;
    padding: 8px 14px;
    color: #3F83F8;
}

.calendar-event-confirmed {
    width: 150px;
    background: #DEF7EC;
    border-radius: 2px;
    border: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 5px;
    padding: 8px 14px;
    color: #31C48D;
}

.calendar-event-navailable {
    width: 150px;
    background: #F4F5F7;
    border-radius: 2px;
    border: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 5px;
    padding: 8px 14px;
    color: #9FA6B2;
}

.calendar-available-rectangle {
    border-color: #76A9FA;
    height: 55px;
    border-width: 3px;
    border-style: solid;
    right: 100%;
    margin-left: -13px;
    margin-top: -8px;
    margin-bottom: -8px;
    margin-right: 8px;
}

.calendar-confirmed-rectangle {
    border-color: #31C48D;
    height: 55px;
    border-width: 3px;
    border-style: solid;
    right: 100%;
    margin-left: -13px;
    margin-top: -8px;
    margin-bottom: -8px;
    margin-right: 8px;
}


.calendar-navailable-rectangle {
    border-color: #E5E7EB;
    height: 55px;
    border-width: 3px;
    border-style: solid;
    right: 100%;
    margin-left: -13px;
    margin-top: -8px;
    margin-bottom: -8px;
    margin-right: 8px;
}


.calendar-event-info {
    flex-grow: 1;
    flex-basis: 82%;
    line-height: 23px;


}
.calendar-event-time {
    float: left;
}
.calendar-event-title {
    float: right;
    font-size: 0.8em;
}

.calendar-event-icon {
    float:right;
}





.calendar-event-request {
    width: 150px;
    background: #FDFDEA;
    border-radius: 2px;
    border: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 5px;
    padding: 8px 14px;
    color: #FACA15;
}

.calendar-request-rectangle {
    border-color: #FACA15;
    height: 55px;
    border-width: 3px;
    border-style: solid;
    right: 100%;
    margin-left: -13px;
    margin-top: -8px;
    margin-bottom: -8px;
    margin-right: 8px;
}