.calendar-out {
    width: 150px;
    border-radius: 2px;
    border: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 5px;
    padding: 8px 14px;
    
    &[data-type="AVAILABLE"] {
        background: #EBF5FF;
        color: #3F83F8;
    }
    &[data-type="NAVAILABLE"] {
        background: #F4F5F7;
        color: #9FA6B2;
    }
    &[data-type="CONFIRMED"] {
        background: #DEF7EC;
        color: #31C48D;
    }
    &[data-type="INVITED"] {
        background: #FDFDEA;
        color: #FACA15;
    }
}

.calendar-event-info {
    flex-grow: 1;
    flex-basis: 82%;
    line-height: 23px;


}
.calendar-event-time {
    float: left;
}
.calendar-event-title {
    float: right;
    font-size: 0.8em;
}

.calendar-event-icon {
    float:right;
}







.calendar-rectangle {
    //border-color: #76A9FA;
    height: 55px;
    border-width: 3px;
    border-style: solid;
    right: 100%;
    margin-left: -13px;
    margin-top: -8px;
    margin-bottom: -8px;
    margin-right: 8px;
    &[data-type="AVAILABLE"] {
        border-color: #76A9FA;
    }
    &[data-type="NAVAILABLE"] {
        border-color: #E5E7EB;
    }
    &[data-type="CONFIRMED"] {
        border-color: #31C48D;
    }
    &[data-type="INVITED"] {
        border-color: #FACA15;
    }
}