@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./Variables.scss";

main {
  background-color: $coolGray-50;
}

a {
  text-decoration: none;
  color: inherit;
}

div,
input,
button {
  box-sizing: border-box;
}

button {
  background-color: white;
  box-sizing: border-box;
  outline: none;
  border: none;
  &:disabled {
    opacity: 0.8;
  }
  &:hover:enabled {
    cursor: pointer;
  }
}
