.settings {
  width: 100%;
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;

  &__title {
    font-family: "IBM Plex Mono", monospace;
    font-size: 12px;
    font-weight: 500;
    padding-top: 3em;
    margin-bottom: 15px;
  }
}
