@import "../../styles/Variables.scss";

.questionTypeTag {
  border-radius: 5px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 12px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $gray-100;
  color: $gray-600;
  padding: 0 15px;
}
